#send_friend{
  background:  url(images/message.png)  no-repeat right;
  padding: 0 20px;
  font-size: 11px;
}

#send_friend:hover{
  cursor: pointer;
}
#tell_friend_form{
  display: none;
}

#tell_friend_form table{
  font-size: 11px;
  border: 0px none;
}

#tell_friend_form table tr{
  line-height: 25px;
}

#tell_friend_form table td {
  border: 0 none;
  padding: 0px;
}

#tell_friend_form input{
  font-family: Tahoma;
  font-size: 11px;
}

#get_fmobile{
  direction: ltr;
}
