#adminmenu #toplevel_page_wp-sms-wp-sms .wp-menu-image:before {
    content: "";
}
.wpsms-subscribe-count a:before {
    content: "" !important;
}
.wpsms-credit-count a:before {
    content: "\f111" !important;
}