
#wpsms-subscribe {
    font-family: tahoma;
    font-size: 12px;
    position: relative;
}
#wpsms-subscribe-loading {
    background: url("../images/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}
#wpsms-subscribe .wpsms-input {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #B1B1B1;
    border-radius: 2px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    font-family: tahoma;
    font-size: 12px;
    margin: 4px 0;
}
#wpsms-subscribe .wpsms-submit {
    background: none repeat scroll 0 0 #E35F51;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 2px 0 #AA4338;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    margin: 5px 0;
    padding: 4px 8px;
}
#wpsms-subscribe .wpsms-submit:hover {
    cursor: pointer;
}
#wpsms-ativation-code {
    text-align: center;
}
#wpsms-result, #wpsms-activation-result {
    color: #ED0000;
    font-weight: bold;
    margin: 3px 0 0;
    text-align: center;
}
.wps-success-message {
    background: url("../images/smile-happy.png") no-repeat scroll center top #FFFFFF;
    color: #53B803;
    font-weight: normal;
    padding: 65px 0 0;
}
.wps-error-message {
    background: url("../images/smile-sad.png") no-repeat scroll center top #FFFFFF;
    color: #ED0000;
    font-weight: normal;
    padding: 65px 0 0;
}
#wpsms-activation {
    display: none;
    line-height: 25px;
    margin: 10px 0 0;
    text-align: center;
}
#wp_get_number:focus, #wpsms_group_name:focus {
    border: 1px solid #FF0000;
}
.wpsms-deactive {
    background: url("../images/smile-sad.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    padding: 65px 0 0;
    text-align: center;
}
.number {
    font-weight: bold;
}
#send_friend {
    background: url("../images/sms.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    font-family: tahoma;
    font-size: 11px;
    padding: 2px 20px;
}
#send_friend:hover {
    cursor: pointer;
}
#tell_friend_form {
    display: none;
}
#tell_friend_form table {
    border: 0 none;
    font-size: 11px;
}
#tell_friend_form table tr {
    line-height: 25px;
}
#tell_friend_form table td {
    border: 0 none;
    padding: 0;
}
#tell_friend_form input {
    font-family: Tahoma;
    font-size: 11px;
}
#get_fmobile {
    direction: ltr;
}
