#send_friend {
    background: url("../images/sms.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    font-family: tahoma;
    font-size: 11px;
    padding: 2px 20px;
}
#send_friend:hover {
    cursor: pointer;
}
#tell_friend_form {
    display: none;
}
#tell_friend_form table {
    border: 0 none;
    font-size: 11px;
}
#tell_friend_form table tr {
    line-height: 25px;
}
#tell_friend_form table td {
    border: 0 none;
    padding: 0;
}
#tell_friend_form input {
    font-family: Tahoma;
    font-size: 11px;
}
#get_fmobile {
    direction: ltr;
}