table#subscribe{
  font-size: 11px;
  font-family: Tahoma, Arial, sans-serif;
  border:   1px  solid #DDDDDD;
  padding: 5px
}

table#subscribe input{
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  padding: 3px;
  border: 1px solid #DDDDDD
}

table#subscribe button{
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px
}
